/*
- - - > |  @font-face  | < - - - 
*/
/* Colfax Web Thin */
@font-face {
  font-family: "ColfaxWeb";
  src: url("../fonts/ColfaxWebThin/ColfaxWebThin.eot");
  src: url("../fonts/ColfaxWebThin/ColfaxWebThin.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ColfaxWebThin/ColfaxWebThin.woff2") format("woff2"),
    url("../fonts/ColfaxWebThin/ColfaxWebThin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

/* Colfax Web Thin Italic */
@font-face {
  font-family: "ColfaxWeb";
  src: url("../fonts/ColfaxWebThinItalic/ColfaxWebThinItalic.eot");
  src: url("../fonts/ColfaxWebThinItalic/ColfaxWebThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ColfaxWebThinItalic/ColfaxWebThinItalic.woff2")
      format("woff2"),
    url("../fonts/ColfaxWebThinItalic/ColfaxWebThinItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

/* Colfax Web Light */
@font-face {
  font-family: "ColfaxWeb";
  src: url("../fonts/ColfaxWebLight/ColfaxWebLight.eot");
  src: url("../fonts/ColfaxWebLight/ColfaxWebLight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ColfaxWebLight/ColfaxWebLight.woff2") format("woff2"),
    url("../fonts/ColfaxWebLight/ColfaxWebLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Colfax Web Light Italic */
@font-face {
  font-family: "ColfaxWeb";
  src: url("../fonts/ColfaxWebLightItalic/ColfaxWebLightItalic.eot");
  src: url("../fonts/ColfaxWebLightItalic/ColfaxWebLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ColfaxWebLightItalic/ColfaxWebLightItalic.woff2")
      format("woff2"),
    url("../fonts/ColfaxWebLightItalic/ColfaxWebLightItalic.woff")
      format("woff");
  font-weight: 300;
  font-style: italic;
}

/* Colfax Web Regular */
@font-face {
  font-family: "ColfaxWeb";
  src: url("../fonts/ColfaxWebRegular/ColfaxWebRegular.eot");
  src: url("../fonts/ColfaxWebRegular/ColfaxWebRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ColfaxWebRegular/ColfaxWebRegular.woff2") format("woff2"),
    url("../fonts/ColfaxWebRegular/ColfaxWebRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Colfax Web Regular Italic */
@font-face {
  font-family: "ColfaxWeb";
  src: url("../fonts/ColfaxWebRegularItalic/ColfaxWebRegularItalic.eot");
  src: url("../fonts/ColfaxWebRegularItalic/ColfaxWebRegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ColfaxWebRegularItalic/ColfaxWebRegularItalic.woff2")
      format("woff2"),
    url("../fonts/ColfaxWebRegularItalic/ColfaxWebRegularItalic.woff")
      format("woff");
  font-weight: 400;
  font-style: italic;
}

/* Colfax Web Medium */
@font-face {
  font-family: "ColfaxWeb";
  src: url("../fonts/ColfaxWebMedium/ColfaxWebMedium.eot");
  src: url("../fonts/ColfaxWebMedium/ColfaxWebMedium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ColfaxWebMedium/ColfaxWebMedium.woff2") format("woff2"),
    url("../fonts/ColfaxWebMedium/ColfaxWebMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Colfax Web Medium Italic */
@font-face {
  font-family: "ColfaxWeb";
  src: url("../fonts/ColfaxWebMediumItalic/ColfaxWebMediumItalic.eot");
  src: url("../fonts/ColfaxWebMediumItalic/ColfaxWebMediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ColfaxWebMediumItalic/ColfaxWebMediumItalic.woff2")
      format("woff2"),
    url("../fonts/ColfaxWebMediumItalic/ColfaxWebMediumItalic.woff")
      format("woff");
  font-weight: 500;
  font-style: italic;
}

/* Colfax Web Bold */
@font-face {
  font-family: "ColfaxWeb";
  src: url("../fonts/ColfaxWebBold/ColfaxWebBold.eot");
  src: url("../fonts/ColfaxWebBold/ColfaxWebBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ColfaxWebBold/ColfaxWebBold.woff2") format("woff2"),
    url("../fonts/ColfaxWebBold/ColfaxWebBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Colfax Web Bold Italic */
@font-face {
  font-family: "ColfaxWeb";
  src: url("../fonts/ColfaxWebBoldItalic/ColfaxWebBoldItalic.eot");
  src: url("../fonts/ColfaxWebBoldItalic/ColfaxWebBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ColfaxWebBoldItalic/ColfaxWebBoldItalic.woff2")
      format("woff2"),
    url("../fonts/ColfaxWebBoldItalic/ColfaxWebBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

/* Colfax Web Black */
@font-face {
  font-family: "ColfaxWeb";
  src: url("../fonts/ColfaxWebBlack/ColfaxWebBlack.eot");
  src: url("../fonts/ColfaxWebBlack/ColfaxWebBlack.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ColfaxWebBlack/ColfaxWebBlack.woff2") format("woff2"),
    url("../fonts/ColfaxWebBlack/ColfaxWebBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

/* Colfax Web Black Italic */
@font-face {
  font-family: "ColfaxWeb";
  src: url("../fonts/ColfaxWebBlackItalic/ColfaxWebBlackItalic.eot");
  src: url("../fonts/ColfaxWebBlackItalic/ColfaxWebBlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ColfaxWebBlackItalic/ColfaxWebBlackItalic.woff2")
      format("woff2"),
    url("../fonts/ColfaxWebBlackItalic/ColfaxWebBlackItalic.woff")
      format("woff");
  font-weight: 900;
  font-style: italic;
}
