/* intro-animation */
@keyframes fadeInUp {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.appearing {
  animation: fadeInUp 0.6s;
  animation-timing-function: cubic-bezier(0.74, 0.04, 0.55, 0.95);
}

body {
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
  background-color: #fbfbfb;
  margin: 0;
  padding: 0;
}

body,
a,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: ColfaxWeb, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", "Helvetica",
    PingFang SC, PingFang TC, "Noto Sans CJK", Hiragino Sans GB, STHeiti,
    Microsoft YaHei, Microsoft JhengHei, sans-serif;
}

p {
  line-height: 1.8rem;
  font-size: 18px;
  margin: 32px 0px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #ec276e;
  transition: 0.3s ease color;
}

a:hover {
  color: #b81d56;
}

/* Navigation */

.navigation {
  display: block;
  position: fixed;
  width: 100%;
  margin: auto;
  top: 0px;
  left: 0px;
  border: none;
  height: 72px;
  background-color: #ffffff;
  box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.06);
  z-index: 999;
}

.navi-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: auto;
  height: 100%;
}

#logo img {
  display: inline-block;
  align-content: center;
  margin-left: 32px;
  vertical-align: middle;
}

#menu,
#menu-mini {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  list-style: none;
  margin-right: 32px;
  height: 100%;
}

#menu a {
  margin: auto 24px;
}

#menu-mini a {
  margin: auto 10px;
}

#menu-mini a,
#menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  flex-direction: row;
  color: rgba(0, 0, 0, 0.64);
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  font-weight: 500;
  line-height: 100%;
  border: none;
  transition: color 0.3s;
}

#menu-mini a:hover,
#menu a:hover {
  color: rgba(0, 0, 0, 0.38);
}

#menu-mini a.active,
#menu a.active {
  color: rgba(0, 0, 0, 0.87);
}

#menu-mini a.active:hover,
#menu a.active:hover {
  color: rgba(0, 0, 0, 0.38);
}

/*mobile-navigation*/
#menu-mini {
  display: none;
}

ul {
  padding-inline-start: 0px;
}

.indent {
  margin: 12px 16px !important;
}

.nav-item {
  position: absolute;
  display: block;
  width: 100%;
  margin: 0px;
  z-index: 1000;
  background-color: #ffffff;
  top: 64px;
  padding: 16px 0px;
  display: none;
  text-transform: uppercase;
  box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.08);
}

.nav-item li {
  display: block;
  background-color: #ffffff;
  transition: 1s bacground-color;
  padding: 20px 32px;
  left: 0px;
}

.nav-item li a {
  border-bottom: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
}

.nav-item li a:hover {
  border-bottom: none;
}

.nav-item li:hover {
  background-color: rgba(0, 0, 0, 0.04);
  transition: 1s backgroun-color;
}

/* mobile-navigation */

/* Hero */

.hero {
  display: block;
  position: relative;
  margin: auto;
  max-width: 1140px;
  top: 160px;
}

#bg-txt {
  position: absolute;
  right: 0px;
  top: 20px;
}

#random-icon {
  position: absolute;
  right: 12px;
  top: 48px;
}

img#emoji {
  animation: icon-move 2s;
  animation-iteration-count: infinite;
}

@keyframes icon-move {
  from,
  0% {
    transform: translateY(-4px);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(-4px);
  }
}

#self-intro {
  display: block;
  position: relative;
  margin: auto;
  width: 100%;
}

img.svg-title {
  margin: 24px auto;
  max-width: 420px;
}

#self-intro h1 {
  font-size: 3rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;

  font-weight: 900;
  margin: 40px auto 16px auto;
}

#self-intro p {
  font-size: 1.3rem;
  letter-spacing: 0.01rem;
  font-weight: 500;
  margin: 16px auto;
  color: #bebebe;
}

/* Index */
.index {
  display: block;
  position: relative;
  margin: 64px auto;
  max-width: 1140px;
}
div.index-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

div.index-item {
  margin: 32px auto;
  width: 100%;
}
.hero h2 {
  margin: 12px auto 12px 0px;
}

.index-title a {
  font-size: 2.2rem;
  line-height: 3.1rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);
  transition: 300ms color;
}

.index-title a:hover {
  color: #0c1dd0;
}
.index-title a:focus {
  color: #0c1dd0;
}

.index-desc span {
  font-size: 1.1rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.38);
  margin: auto 4px;
  opacity: 0.6;
}

.uppercase {
  text-transform: uppercase;
}

.index-desc {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.24);
  line-height: 2rem;
}

/* Grid */

section.grid {
  display: block;
  position: relative;
  margin: auto;
  max-width: 1140px;
  top: 240px;
}

div.grid-container {
  display: flex;
  flex-wrap: wrap;
  margin: -16px;
}

div.grid-item {
  box-sizing: border-box;
  width: 33.33%;
  padding: 16px;
}

.project-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 12px;
  height: 420px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.18s, transform 0.18s ease-out;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.project-card:hover {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04),
    0px 24px 48px rgba(0, 0, 0, 0.06);
  transform: translateY(-8px);
}

.title-container {
  position: relative;
  width: 88%;
  height: 28%;
  margin: 12px auto;
}

div.card-divider {
  position: relative;
  width: 88%;
  height: 1px;
  border-radius: 0.5px;
  background-color: rgba(0, 0, 0, 0.04);
  margin: 4px auto;
}

div.cover {
  display: block;
  background-color: rgba(0, 0, 0, 0.04);
  width: 88%;
  height: 200px;
  margin: 10px auto;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.02);
}

div.label {
  display: block;
  width: 88%;
  margin: 0px auto;
}

.project-card h1 {
  margin: 16px 0px 6px;
  color: rgba(0, 0, 0, 0.87);
}

.project-title {
  font-size: 1.4rem;
  letter-spacing: -0.01rem;
  text-transform: default;
  font-weight: 700;
  line-height: 1.75rem;
}

.project-time {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.04rem;
  color: rgba(0, 0, 0, 0.54);
}
p.project-time {
  margin: 12px auto;
}

.project-description {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.38);
}

p.project-description {
  margin: 16px auto;
}

/* Project Covers */

#project-india .cover {
  background-image: url(assets/grid/cover_india.png);
  background-position: center;
  background-size: cover;
}

#project-produce .cover {
  background-image: url(assets/grid/cover_produce.png);
  background-position: center;
  background-size: cover;
}

#project-fullscreen .cover {
  background-image: url(assets/grid/cover_full_screen.png);
  background-position: center;
  background-size: cover;
}

#project-game-live .cover {
  background-image: url(assets/grid/cover_game_live.png);
  background-position: center;
  background-size: cover;
}

#project-search .cover {
  background-image: url(assets/grid/cover_search.png);
  background-position: center;
  background-size: cover;
}

#project-pixel .cover {
  background-image: url(assets/grid/cover_pixel.png);
  background-position: center;
  background-size: cover;
}

div#top a {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.64);
  position: fixed;
  right: 12px;
  bottom: 12px;
  display: block;
  color: rgba(255, 255, 255, 0.9);
  padding: 10px 16px 8px;
  z-index: 999;
  font-size: 0.6rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Footer */
.footer {
  display: block;
  position: relative;
  margin: auto;
  max-width: 1140px;
  top: 60px;
  bottom: 0px;
  height: auto;
  overflow: hidden;
  clear: both;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 100%;
}

p#copyright {
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.38);
  letter-spacing: 0.02rem;
}

#copyright a {
  color: rgba(0, 0, 0, 0.64);
  text-decoration: none;
  font-weight: 500;
}

div#social-accounts {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: -24px;
}

#social-accounts a {
  padding: 12px;
  margin: 12px 12px;
  opacity: 0.64;
  font-weight: 500;
  transition: opacity 0.3s;
}

#social-accounts img {
  display: block;
}

#social-accounts a:hover {
  opacity: 0.38;
}
