<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <link rel="alternate" type="application/atom+xml" href="{{ site.baseurl }}/atom.xml" />
    <title>{% if page.title %}{{ page.title }} - {% endif %}HungI Zzz's Blog</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Slab|Lato:300,400,500,700|Raleway:300,400,700" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/4.2.0/normalize.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
    <script src="{{ site.baseurl }}/js/jquery-1.12.3.min.js"></script>
    <script src="{{ site.baseurl }}/js/backtotop.js"></script>
      <script>
       $(document).ready(function(){
       $("#loader").fadeOut(1000);
         });
      </script>

  </head>
  {% include analytics.html %}
  <body>
    <div id="loader">
        <div class="loader-center">
          <div class="loader-center-absolute">
            <span class="dot"></span>
          </div>
      </div>
    </div>

    <div class="page appearing" >
      <div class="banner">
        <header class="header">
          <div class="logo">
            <a href="{{ site.baseurl }}/">
              <img src="{{ site.baseurl }}/logo.png" width="44" alt="HungI Zzz" />
            </a>
          </div>
          <nav class="nav">
            {% capture url %}{{ page.url }}.html{% endcapture %}
            <ul>

              {% for item in site.navs %}
                <li><a {% if item.url == url %}class="active"{% endif %} href="{{ site.baseurl }}{{ item.url }}">{{ item.name }}</a></li>
              {% endfor %}
                <li><a href="http://zzao.im">Zzao</a></li>
            </ul>
          </nav>
        </header>
        <!-- <div class="title">
          <h1>{{ page.title }}</h1>
        </div> -->

      {{ content }}
      <footer class="footer">
        <p>Copyright &copy; 2015 – 2017 HungI.</p>
      </footer>
    </div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </body>
</html>
