<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=0"
    />
    <link
      rel="alternate"
      type="application/atom+xml"
      href="{{ site.baseurl }}/atom.xml"
    />
    <title>
      {% if page.title %}{{ page.title }} - {% endif %}HungI Zzz's Blog
    </title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto Slab|Lato:300,400,500,700|Raleway:300,400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Code+Pro"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://cdn.bootcss.com/normalize/4.2.0/normalize.min.css"
    />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/smallscreen.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/font-styles.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/article.css" />
    <script src="{{ site.baseurl }}/js/jquery-1.12.3.min.js"></script>
    <script src="{{ site.baseurl }}/js/toggle.js"></script>
    <script src="{{ site.baseurl }}/js/backtotop.js"></script>
    <script>
      $(document).ready(function() {
        this.fadeIn(600);
      });
    </script>
  </head>

  <body>
    <div class="page appearing">
      <div class="navigation">
        <div class="navi-container">
          <div id="logo">
            <a href="{{ site.baseurl }}/" title="Zzao is a Designer😜"
              ><img src="{{ site.baseurl }}/logo.png" width="32"
            /></a>
          </div>
          <div id="menu"><a href="{{ site.baseurl }}/">Back to Blog</a></div>
          <div id="menu-mini">
            <a href="{{ site.baseurl }}/">Back to Blog</a>
          </div>
        </div>
      </div>

      {{ content }}
      <section class="footer">
        <div class="footer-container">
          <p id="copyright">
            © 2015 - 2018
            <a href="#" title="Learn more about me😜">HungI Zz.</a>
          </p>
          <div id="social-accounts">
            <a
              href="https://twitter.com/hominthesky"
              id="twitter"
              title="See My Tweets🐦"
              target="_blank"
              ><img
                src="{{ site.baseurl }}/images/social/social_twitter.svg"
                width="22"
                alt="twitter"
            /></a>
            <a
              href="https://www.instagram.com/hominthesky/"
              id="instagram"
              title="Go to My Instagram📸"
              target="_blank"
              ><img
                src="{{ site.baseurl }}/images/social/social_Instagram.svg"
                width="20"
                alt="instagram"
            /></a>
            <a
              href="https://dribbble.com/hominthesky"
              id="dribbble"
              title="See My Playground🏀"
              target="_blank"
              ><img
                src="{{ site.baseurl }}/images/social/social_dribbble.svg"
                width="20"
                alt="dribbble"
            /></a>
          </div>
        </div>
      </section>
    </div>

    <div id="top"><a href="#">back to top</a></div>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    {% include analytics.html %}
  </body>
</html>
